/* General styles */
body {
    font-family: Spectral, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: hsl(275, 63%, 76%);
}

header {
    background-color: #fffcff;
    color: rgb(165, 229, 239);
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 2rem;
    text-align: center;
}

h1, h2, h3 {
    color: #0319c2;
}

.feature-links a {
    display: inline-block;
    margin: 1rem;
    padding: 0.5rem 1rem;
    background-color: #b6d2ee;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.feature-links a:hover {
    background-color:#C8B6FF;
    }

footer {
    text-align: center;
    padding: 1rem;
    background-color: #E7C6FF;
    color: white;
}
