/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eaa8f6;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 2rem;
    text-align: center;
}

h1, h2, h3 {
    color: #333;
}

.feature-links a {
    display: inline-block;
    margin: 1rem;
    padding: 0.5rem 1rem;
    background-color: #2c3e50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.feature-links a:hover {
    background-color: #34495e;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: white;
}
